.main {
    position: fixed;
    display: grid;
    grid-template-areas: 'body''footer'; //height: 100vh;
    height: 100%;
    width: 100vw;
    grid-template-columns: 100%;
    //grid-template-rows: calc(100% - 56px) 56px;
    grid-template-rows: 100%; // Sem menu
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}